#container {
    display: flex;
}

#map {
    height: 100vh;
    flex: 1;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 0.2;
}

#menu h3 {
    text-align: center;
    margin-top: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    padding: 20px;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
}